.hoverBlue:hover {
	background-color: #4775ff;
}

.hoverYello:hover {
	background-color: #ffc482;
}

.hoverGreen:hover {
	background-color: #08a47c;
}

.hoverRed:hover {
	background-color: #e74855;
}

.homePage {
	background-color: #403f4c;
	height: 92vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2vh;
}

.menubar {
	height: 7vh;
	padding: 0.5vh;
	background-color: #b3b3b3;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.MenuBarTitle {
	color: black;
	font-size: 6.5vh;
	text-decoration: none;

}

.clock {
	color: black;
	font-size: 6.5vh;
}

.LogoutButton {
	height: 6.5vh;
	width: 6.5vh;
}

.BigBox {
	height: 50%;
	width: 30%;
	background-color: #b3b3b3;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4vh;
	text-decoration: none;
	color: black;
}

.listProduct {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 0.5vh;
}

.ProductManagementPage {
	background-color: #403f4c;
	padding: 2vh;
	min-height: 88vh;
	display: grid;
	grid-template-columns: repeat(3, calc(96vw/3));
	gap: 2vh;
}

.productButton {
	background-color: #b3b3b3;
	padding-left: 1vh;
}

.ProductManagementbox {
	background-color: #b3b3b3;
	grid-column: 2/4;
	display: flex;
	flex-direction: column;
	gap: 4vh;
}

.ProductManagementboxTitle {
	font-size: 8vh;
	text-align: center;
}

.ProductManagementboxText {
	padding-left: 2vh;
	font-size: 4vh;
	display: flex;
	align-items: baseline;
}

.ProductManagementboxColor {
	padding-left: 2vh;
	font-size: 4vh;
	display: flex;
	align-items: baseline;

}

.ProductManagementText {
	padding-left: 2vh;
	padding-right: 2vh;
	font-size: 4vh;
	background-color: #b3b3b3;
	border-style: none;
	color: black;
	width: 5vw;
}

.ProductManagementColor {
	padding-left: 2vh;
	padding-right: 2vh;
	background-color: #b3b3b3;
	height: 4vh;
	color: black;
	border-style: none;
}

.ProductManagementSaveButton {
	background-color: #403f4c;
	padding: 2vh;
	width: min-content;
	margin-left: 2vh;
	font-size: 4vh;
	color: white;
}

.managmentBox {
	display: flex;
	align-items: center;
}

.ProductManagementError {
	font-size: 3vh;
	margin-left: 2vh;
}